@model WiproWebApp.Models.Patient
<from method="post" action="Create">
<div>

<input type="text" asp-for="Name" placeholder="Name" />
<input type="text" asp-for="Phone" placeholder="Phone" />
<input type="submit" value="Submit"/>
</div>
</from>